.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 6px;
}

.navLogo-mob {
    display: none;
}

.navLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLevs button {
    background-color: #6200ea;
    /* Tugma fon rangi */
    color: white;
    /* Matn rangi */
    border: none;
    border-radius: 5px;
    /* Burchaklarni yumshatish */
    padding: 10px 15px;
    /* Tugma o'lchami */
    margin-left: 10px;
    /* Tugmalar orasidagi bo'shliq */
    cursor: pointer;
    /* Kursorni ko'rsatgichga aylantirish */
    display: flex;
    align-items: center;
    /* Ikonani va matnni vertikal markazlash */
}

.navLevs button svg {
    margin-right: 5px;
    /* Ikona va matn o'rtasidagi bo'shliq */
}

.navLevs button:hover {
    background-color: #3700b3;
    /* Tugma ustiga kelganda rang o'zgarishi */
}

.navLogo img {
    width: 100%;
    height: 100%;
}

.navLogo-mob img {
    width: 100%;
    height: 100%;
}

.navLevs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.products-length {
    font-size: 14px;
    background: red;
    color: #fff;
    padding: 2px 4px;
    border-radius: 50%;
    margin-top: -10px;
}

.mobil {
    display: none;
}

/* Ekran kengligi 430px gacha bo'lganda */
@media (max-width: 430px) {
    .navbar h1 {
        display: none;
    }

    .navLogo {
        display: none;
    }

    .navLogo-mob {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid #f0f0f0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f0f0f0;
        margin-top: -20px;
    }

    .navbar {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
        margin-bottom: 0px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #f0f0f0;
        z-index: 5;
        box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .navLevs {
        width: 100%;
        justify-content: space-evenly;
    }

    .navLevs button {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: #cdbab3; */
        background: #ffffff;
        padding: 9px 12px;
        margin: 0;
    }

    .navLevs button>svg {
        font-size: 25px;
        color: #1677ff;
    }

    .navLevs button span {
        display: none;
    }

    .desc {
        display: none;
    }

    .mobil {
        display: block;
    }
}